<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>页面绘制识别</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'HandwrittenArithmeticExpressionRecognizer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'HandwrittenArithmeticExpressionRecognizer/css/main.css' %}">
    <script src="{% static 'HandwrittenArithmeticExpressionRecognizer/js/jquery.min.js' %}"></script>
    <script src="{% static 'HandwrittenArithmeticExpressionRecognizer/js/hand_write.js' %}"></script>
</head>
<body id="body_branch">
<div id="div_main">
    <div id="show_left">
        <h4>请绘制您要识别的算式</h4>
        <div id="show_img">
            <canvas id="my_canvas">
            </canvas>
        </div>
        <button id="submit" class="btn_2">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="clear" class="btn_2">Clear</button>
    </div>
    <div id="show_res">
        <label for="res1" class="lb">算式识别：</label><br>
        <input type="text" id="res1" readonly>
        <br>
        <label for="res2" class="lb">计算结果：</label><br>
        <input type="text" id="res2" readonly>
        <br>
    </div>
</div>
</body>
</html>