<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>页面绘制识别</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'HandwrittenArithmeticExpressionRecognizer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'HandwrittenArithmeticExpressionRecognizer/css/main.css' %}">
    <script src="{% static 'HandwrittenArithmeticExpressionRecognizer/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'HandwrittenArithmeticExpressionRecognizer/js/layer-v3.1.1/layer/layer.js' %}"></script>
    <script src="{% static 'HandwrittenArithmeticExpressionRecognizer/js/hand_write.js' %}"></script>
</head>
<body id="body_branch">
<div id="div_branch">
    <div id="show_left">
        <h4>请绘制您要识别的算式</h4>
        <div id="show_img">
            <canvas id="my_canvas">
            </canvas>
        </div>
        <div class="tools">
            <div class="container">
                <button class="pen" id="pen" title="画笔"></button>
                <button class="eraser" id="eraser" title="橡皮擦"></button>
                <button class="clear" id="clear" title="清除"></button>
                <button class="submit" id="submit" title="提交"></button>
            </div>
        </div>
    </div>
    <div id="show_res" style="padding-top: 25px">
        <label for="res1" class="lb">算式识别：</label><br>
        <textarea id="res1" readonly></textarea>
        <br><br><br><br>
        <label for="res2" class="lb">计算结果：</label><br>
        <textarea id="res2" readonly></textarea>
        <br>
    </div>
</div>
</body>
</html>