body {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    height: 50px;
    font-size: 30px;
}

input[type="file"] {
    size: 30px;
}

#h4 {
    display: inline;
}

#body_main {
    background-color: ghostwhite;
}

#body_branch {
    background-color: #f0ffff;
}

#div_main {
    margin-left: 50px;
    margin-top: 50px;
}

#navigator {
    height: 30%;
    width: 100%;
}

#show {
    height: 250px;
    width: 500px;
    margin-top: 8px;
    margin-left: 50px;
}

#show_page {
    display: block;
    height: 800px;
    width: 100%;
}

#show_img {
    height: 300px;
    width: 500px;
    margin-top: 5px;
}

#show_res {

}

.file_select {
    position: absolute;
    clip: rect(0 0 0 0);
}

.btn_label {
    z-index: -11111;
    width: 0;
    height: 1px;
}

.btn_1 {
    background-color: #008CBA;
    color: white;
    border-radius: 6px;
    padding: 15px 32px;
    font-size: 16px;
    outline: none;
}

.btn_1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.btn_2 {
    background-color: #555555;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
}

.btn_2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

