body {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    height: 50px;
    font-size: 30px;
}

input[type="file"] {
    size: 30px;
}

#h4 {
    display: inline;
}

#body_main {
    background-color: aliceblue;
    /*background-image: url("../img/bg1.png");*/
    /*background-size: 100%;*/
}

#body_branch {
    /*background: transparent;*/
    /*background-color: white;*/
    background: url('../img/bg1.jpg');
    background-size: 100%;
}

#navigator {
    height: 30%;
    width: 100%;
}

#show_page {
    display: block;
    height: 777px;
    width: 100%;
}

#div_main {
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
}

#show_left {
    width: 1111px;
    height: 100%;
    float: left;
    display: inline-block;
}

#my_canvas {
    width: 1000px;
    height: 625px;
    margin-top: 8px;
    margin-left: 20px;
    border: 1px solid;
}

#show {
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 625px;
}

#show_img {
    height: 650px;
    width: 1000px;
}

#show_res {
    margin-top: 200px;
    margin-left: 100px;
    float: left;
    display: inline-block;
}

.file_select {
    position: absolute;
    clip: rect(0 0 0 0);
}

.lb {
    font-size: 30px;
    color: #4cae4c;
}

.btn_label {
    z-index: -11111;
    width: 0;
    height: 1px;
}

.btn_1 {
    background-color: #008CBA;
    color: white;
    border-radius: 6px;
    padding: 15px 32px;
    font-size: 16px;
    outline: none;
}

.btn_1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.btn_2 {
    background-color: #555555;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
}

.btn_2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

